/* Reset some default margins */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2B1700;
    text-align: center; /* Ensures text elements are centered */
    background-color: #f6eee3;
}

/* Center the heading at the top */
header {
    padding: 20px 0; /* Adds space around the heading */
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    margin: 0; /* Removes extra space */
}

/* Centering the image and getting caption below */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.caption {
    display: block;
    font-size: 14px;
    color:grey;
    margin-top: 5px;
    font-style: italic;

}

.media-image {
    max-width: 70%; /* Ensures the image takes up a good amount of space but not the entire screen */
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px; /* Optional: rounded corners for a polished look */
}

/* Responsive design: Adjusts image size for smaller screens */
@media (max-width: 768px) {
    .media-image {
        max-width: 90%; /* Slightly larger on smaller screens */
    }
}